@use "../abstract/index" as *;

.numbers {
  @include flex(center, center, wrap);
  position: relative;
  @include rwd(992) {
    row-gap: 4rem;
  }

  @include rwd(576) {
    scroll-margin-top: 80px;
  }

  &__item {
    flex-basis: 20%;

    @include rwd(992) {
      flex-basis: 45%;
    }
  }

  &__number {
    @include text(44px, 700, $primary-color, none, center);
    @include rwd(576) {
      font-size: 36px;
    }
  }

  &__name {
    @include text(14px, 600, $white-color, uppercase, center);

    @include rwd(576) {
      width: 100px;
      margin: auto;
    }
  }

  &__building {
    @include positioning(absolute, auto, auto, 0, -150px, 400px);
    @include rwd(992) {
      display: none;
    }
  }
}
